
/*===== Fonts =====*/
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}

/*===== General =====*/
html{min-height:100%;}
body{font-size:14px; font-family:'RobotoRegular', Arial; min-height:100%; background:#edf1f5;}
*{margin:0; padding:0;}
.max-width95{max-width:95%; margin:0 auto; display:block;}
.max-width85{max-width:85%; margin:0 auto; display:block;}
.no-pad{padding:0px;}
.no-margin{margin:0px;}
.bg-white{background:#fff;}

.m-bot5{margin-bottom:5px;}
.m-top5{margin-top:5px;}
.m-bot10{margin-bottom:10px;}
.m-top10{margin-top:10px;}
.m-bot15{margin-bottom:15px;}
.m-top15{margin-top:15px;}
.m-bot30{margin-bottom:30px;}
.m-top30{margin-top:30px;}
.pad-top15{padding-top:15px;}
.pad-bot15{padding-bottom:15px;}
.clear-fix{clear:both;}
.relative{position:relative;}
.section_padding{padding: 15px;}
.no-border-rad{border-radius:0!important;}

label{margin-bottom:0; font-size:1rem;}
.invalid-feedback{margin-top:0px;}
.form-control{border-radius:0;}
.input-group-addon{border-radius:0;}

/***********EXTRA ******************/
::-webkit-scrollbar { width: 5px; background:transparent;} /* affects the whole scrollbar */
::-webkit-scrollbar-button { } /* arrow buttons */
::-webkit-scrollbar-track {width:2px; background:#f2f2f2; } /* slider area */
::-webkit-scrollbar-thumb {width:5px; height:10px; background:#ccc;} /* slider */
::-webkit-scrollbar-corner { } /* sizer (only visible in TEXTAREA) */

/*===== Front Side =====*/
.main_banner{display:block; background:url(../images/slider/3.jpg); background-size:cover; height:400px;}


/*===== Left Header Menu =====*/
.left_header_section{position:fixed; width:220px; top:0; height:100%; z-index:9; box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08);  transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s;}
.logo_section{display:block;}
.logo_section img{max-width:100%;}
.logo_section span{font-size: 20px; text-transform: uppercase; font-family:RobotoBold;}

.menu_blank_sect{height:60px;}
.left_nav_menu{display:block; height: 100%; overflow-y: auto; padding-bottom:74px; background: #f7f7f7;}
.left_nav_menu>li{display:block; list-style:none; border-bottom:1px solid #f1f1f1;}
.left_nav_menu>li:last-child{border-bottom:none;}
.left_nav_menu>li>a{display:block; background: #f7f7f7; text-decoration:none; font-family:RobotoRegular; padding:15px; color:#777; border-left:3px solid transparent;}
.left_nav_menu>li>a:hover{background:#f5f5f5;}
.active_li>a{background:#f5f5f5;}
.left_nav_menu>li>a>i{display:inline-block; margin-right:5px; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s;}
.rotate90{transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);}

.left_sub_menu{background: #f1f1f1; border-top: 1px solid #d8d5d5;}
.left_sub_menu>li>a{display:block; padding:10px 10px 10px 40px; color:#777; text-decoration:none; border-bottom: 1px solid #d8d5d5;}
.left_sub_menu>li:last-child a{border-bottom:none;}
.left_sub_menu>li>a>i{display:inline-block; margin-right:5px; font-size:1rem;}

/*===== Content =====*/
.content_wrapper{ position: relative; padding-bottom: 50px; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s;}

.content_header{background:#fff; position:fixed; width:100%; height:60px; color:#052963; padding: 15px 0; top:0; left:0; z-index:99;box-shadow:1px 0px 20px rgba(0, 0, 0, 0.08);}

.head_left_section{display: block; background:#052963; position: absolute; top: 70px; z-index: 999; width: 50px; height: 30px; text-align: center; right: -30px; border-top-right-radius: 15px; border-bottom-right-radius: 15px; color: #fff;  cursor:pointer; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s;}
.head_left_section i{font-size:18px; line-height: 30px;}

.head_right_section{display:block; margin: 0px 20px 0 0; padding: 0px; text-align:right;}
.head_right_section li{display:inline-block; list-style:none; margin-left:20px;}
.head_right_section li a{display:block;}

.content_page_heading_section{padding-top:60px;}
.content_page_heading{font-size:1.4rem; color:#333; margin:0; margin-left: 10px; line-height: 1.8; text-transform: uppercase; padding: 10px;}

.hide_menu .menu_cross_mid{display:none;}
.hide_menu .menu_cross_top{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg); top:50%; margin-top:-1px;}
.hide_menu .menu_cross_bot{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg); bottom:50%; margin-bottom:-1px;}

.tbl-list thead th{white-space:nowrap;}
.action_btn{display:inline-block; text-decoration:none; background:#e6e6e6; color:#333; padding-right: 8px; margin-right: 5px; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s;}
.action_btn i{display:inline-block; color:#fff; width:30px; height:30px; text-align:center; line-height:30px; margin-right:3px;}
.action_btn span{display:inline-block; }
.action_btn:hover{text-decoration:none;}
.btn-edit i{background:#17a2b8; border-right: 1px solid #0a8ca0;}
.btn-del i{background:#dc3545; border-right: 1px solid #bd202f;}
.btn-edit:hover{background:#17a2b8; color:#fff}
.btn-del:hover{background:#dc3545; color:#fff}

.footer-section{background: #1f232d; padding: 15px 30px; color: #fff; position: absolute; bottom: 0; left: 0; width: 100%;}
.footer-section p{margin:0;}

/*===== Login Page =====*/
.login_box{display:block; background:#fff; padding:15px; border: 1px solid #ddd; width:100%; max-width:350px; height:auto; margin: 10% auto 0 auto;
-webkit-box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.2);
box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.2);
}
.login_head{display:block; font-size: 20px; text-transform: uppercase; font-family: RobotoBold; border-bottom:1px solid #edf1f5; text-align:center; margin-bottom: 15px; padding-bottom: 10px; color:#444;}
.login_box label{color:#777;}
.btn-custom{background:#052963; color:#fff; border-radius:0; cursor:pointer;}
.btn-custom:hover{background:#c02c3a;}
.forgot_link{display:block; margin-top: 5px;}
.forgot_link a{color:#052963;}
.forgot_link a:hover{color:#c02c3a; text-decoration: none;}

.reg_small_box{display: block; border-top:1px solid #f1f1f1; text-align: center;}
.reg_small_box span{display:block; margin: 5px 0;}
.btn-custom2{background: #f3f3f3; border:1px solid #ddd; border-radius: 0px; color:#777;}
.btn-custom2:hover{text-decoration: none; background: #ddd; color:#333; cursor: pointer;}

.register_box_width{max-width: 60%; margin-bottom: 30px; margin-top: 30px;}
.login_box .input-group-addon {border-radius: 0; width: 40px; text-align: center; display: inline-block;}

.login_page_head{font-size:22px; text-transform:uppercase; font-weight:bold; display:block; text-align:center; margin:50px 0;}
.register_box{width: 30%; padding:15px; margin: 50px auto; background: #FFF; box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.2);  -webkit-box-shadow:0px 15px 10px -10px rgba(0,0,0,0.2);  -moz-box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.2);}
.register_box .input-group-addon{width:40px; text-align:center; display:block;}
.login_head{font-size: 18px; font-weight: 400;  color: #1B2431;  margin-bottom: 5px; display:block; text-align:center; margin-bottom:20px; margin-top: 10px; text-transform: uppercase;}
.bottom_login_box{color:#777; padding:15px; margin:-15px; margin-top:0px; text-align:center; border-top:1px solid #eee;}
.bottom_login_box .btn{margin-top:10px;}
.forgot_pass_a{display:inline-block; margin-top:10px;}
.login_copyright{display:block; color:#999; text-align:center;}
.validation_msg{display:none; color:#c02c3a;}


.mid_content_section{min-height:450px;}

/*===== MEdia Queries =====*/

@media screen and (min-width: 992px) {
	.left_header_section{left:0px;}
	.content_wrapper{margin-left:220px;}
	.head_left_section{margin-left:220px;}
	.hide_menu .left_header_section{left:-220px;}
	.hide_menu .content_wrapper{margin-left:0px;}
	.hide_menu .head_left_section{margin-left:0px;}
}

@media screen and (max-width: 991px) {
	.left_header_section{left:-220px;}
	.content_wrapper{margin-left:0px;}
	.head_left_section{margin-left:0px;}
	.hide_menu .left_header_section{left:0px;}
	.hide_menu .content_wrapper{margin-left:0px;}
	.hide_menu .head_left_section{margin-left:220px;}
}

@media screen and (max-width: 1199px) {
	.home-slider-box{padding:0px;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px){
	.tbl-list tbody td:last-child{min-width:200px;}
}
